@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111827;
  /* gray-900 */
  color: white;
}

@layer utilities {
  .font-pixel {
    font-family: 'Outfit', sans-serif;
  }
}